[submodule "Project2"]
	path = Project2
	url = https://github.com/joshwinnes11/Project2.git
[submodule "Project1.1"]
	path = Project1.1
	url = https://github.com/jonathancontreras02/Project1.1.git
[submodule "Portfolio"]
	path = Portfolio
	url = https://github.com/joshwinnes11/Portfolio.git
[submodule "Project3"]
	path = Project3
	url = https://github.com/joshwinnes11/Project3.git
[submodule "Project 4"]
	path = Project 4
	url = https://github.com/joshwinnes11/Project-4.git
[submodule "Final Project"]
	path = Final Project
	url = https://github.com/joshwinnes11/Final-Project.git
